@media (max-width: 630px) {
    .qr {
        padding-top: 30px;
        font-size: 22px;

        &__input {
            padding: 8px 20px;
            font-size: 22px;
            margin-bottom: 15px;
            max-width: 300px;
        }

        &__button {
            padding: 8px 25px;
            font-size: 22px;
            margin-bottom: 45px;
        }

        &__qrcode {
            width: 140px;
            margin-bottom: 15px;
        }

        &__output {
            font-size: 32px;
        }
    }

    .qr__scan {
        margin: 0 auto;
        max-width: 350px;

        &-code div {
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 15px;
            max-width: 240px;
        }

        &-output {
            font-size: 32px;
        }
    }

    .nav__list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        column-gap: 24px;
        font-weight: 600;
        flex-wrap: wrap;
        row-gap: 10px;
        align-items: center;

        &-link {
            font-size: 18px;
            color: black;
        }

        & .active {
            text-decoration: underline;
        }
    }
}
